.ol-map {
    display: flex;
    width: 100%;
    height: 100%;
}

.ol-overlaycontainer-stopevent {
    z-index: 10000 !important;
}

.ol-rotate {
    top: 6.5em;
    right: .5em;
}

.ol-3d {
    top: 3em;
    right: .5em;
    z-index: 100;
}

.plt-mobile .ol-3d {
    top: 9.5em;
    right: .5em;
    z-index: 100;
}

.plt-mobile .ol-3d button {
    font-size: 1.5em;
}

/*.cesium-credit-logoContainer, .cesium-credit-textContainer, .cesium-credit-expand-link {*/
/*    display: none !important;*/
/*}*/
